<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bai2DownloadImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>787A63051F0CCC9700E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787A631C1F0CCC9800E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787A63271F0CCC9800E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
